extends layout

block content
  h1 #{title}
  //- button(class="btn btn-primary") btn
  p To create a necklace
    a(href="/create")&nbspclick here
  
  p Update inventory
    a(href="/inventory")&nbsphere
