body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr, td {
  border: 1px solid black;
  padding: 6px;
  width: 150px;
}

.small {
  width: 20px;
}

table {
  border-collapse: collapse;
}
